:root {
  --color-primary: #5a8dff;
}

@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */

@font-face {
  font-family: "Mada";
  src: url("/fonts/Mada/Mada-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Mada";
  src: url("/fonts/Mada/Mada-Medium.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Mada";
  src: url("/fonts/Mada/Mada-SemiBold.ttf");
  font-style: semibold;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Mada";
  src: url("/fonts/Mada/Mada-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
