{
	"apiVersion": "v1",
	"kind": "Service",
	"metadata": {
		"name": "{{.Ensemble}}",
		"labels": {
			"ensemble": "ok"
		}
	},
	"spec": {
		"selector": {
			"ensemble": "{{.Ensemble}}"
		},
		"clusterIP": "None"
	}
}