{
	"apiVersion": "v1",
	"kind": "Pod",
	"metadata": {
		"name": "{{.ID}}",
		"labels": {
			"ensemble": "{{.Ensemble}}"
		}
	},
	"spec": {
		"hostname": "{{.Hostname}}",
		"subdomain": "{{.Ensemble}}",
		"restartPolicy": "Never",
		"containers": [
			{
				{{if .Env}}
				"env": [
					{{ $s := separator ", " }}
					{{ range $key, $value := .Env }}
					{{ call $s }}
					{
						"name": "{{$key}}",
						"value": "{{$value}}"
					}
					{{end}}
				],
				{{end}}
				"volumeMounts": [
					{{if .VolumeMounts}}
					{{ $s := separator ", " }}
					{{ range $elem := .VolumeMounts }}
					{
						"name": "{{$elem.Name}}",
						"mountPath": "{{$elem.Path}}",
						"readOnly": {{$elem.ReadOnly}}
					}
					{{end}}
					{{end}}
				],
				{{if .Command}}
				"command": ["{{.Command}}"],
				{{end}}
				{{if .Args}}
				"args": [
					{{ $s := separator ", " }}
					{{ range .Args }}
					{{ call $s }}
					"{{ . }}"
					{{ end }}
				],
				{{end}}
				"imagePullPolicy": "Always",
				"name": "main-container",
				"image": "{{.Image}}:{{.Version}}"
			}
		],
		"volumes": [
			{{ $s := separator ", " }}
			{{ range $elem := .Volumes }}
			{{ call $s }}
			{
				{{ mapX $elem }}
			}
			{{end}}
		]
	}
}