{
    "apiVersion": "v1",
    "kind": "PersistentVolumeClaim",
    "metadata": {
        "name": "{{.Name}}"
    },
    "spec": {
        "storageClassName": "{{.StorageName}}",
        "accessModes": [
            "ReadWriteOnce"
        ],
        "resources": {
            "requests": {
                "storage": "{{.Storage}}"
            }
        }
    }
}